@model Jcf.Web.Models.Funcao.FuncaoViewModel
@using Jcf.Dominio.Uteis

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@ConstantesStrings.TITULO_FUNCAO</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Funcao">@ConstantesStrings.TITULO_FUNCAO</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ConstantesStrings.TITULO_PAGINA_NOVO_CADASTRO</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        @ConstantesStrings.TITULO_PAGINA_NOVO_CADASTRO
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-6 mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" type="text" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-sm btn-primary"> <i class="fas fa-save"></i> Salvar </button>
                <a asp-action="Index" asp-controller="Funcao"  class="btn btn-sm btn-warning"> <i class="fas fa-ban"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>